@model CommitDiffModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Diff</title>
    <link href="WebResources/Diff/diffview.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <style>
        html {
            font-size: @(Model.FontSize)px !important;
        }

        td.line a {
            display: block;
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
    <table class="diff inlinediff">
    	@{
    		int baseLine = 0;
    		int newLine = 0;
            var comments = Model.CommentsLookup;
    	}
		@for (var i = 0; i < Model.Lines.Length; i++)
		{
			var line = Model.Lines[i];
			if (line.StartsWith("@@"))
			{
				var s = line.Split(' ');
				baseLine = Math.Abs(int.Parse(s[1].Split(',')[0]));
				newLine = int.Parse(s[2].Split(',')[0]);
				<tr data-to="@(i)" data-x="" data-y=""><th>...</th><th>...</th><td class="skip">@line</td></tr>
			}
			else if (line.StartsWith("+"))
			{
				<tr data-to="@(i)" data-x="" data-y="@(newLine)"><th></th><th>@newLine</th><td class="line insert"><a href="app://comment?line=@(i)">@line</a></td></tr>
				newLine++;
			}
			else if (line.StartsWith("-"))
			{
				<tr data-to="@(i)" data-x="@(baseLine)" data-y=""><th>@baseLine</th><th></th><td class="line delete"><a href="app://comment?line=@(i)">@line</a></td></tr>
				baseLine++;
			}
			else
			{
				<tr data-to="@(i)" data-x="@(baseLine)" data-y="@(newLine)"><th>@baseLine</th><th>@newLine</th><td class="line equal"><a href="app://comment?line=@(i)">@line</a></td></tr>
				newLine++;
				baseLine++;
			}

            foreach (var c in comments[i])
            {
                <tr class='comment'><td colspan='3'><div class='inner'><header><img src="@(c.AvatarUrl)" />@c.Name</header><div class='content'>@c.Body</div></div></td></tr>
            }
		}
    </table>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="WebResources/Diff/difflib.js"></script>
    <script type="text/javascript" src="WebResources/Diff/diffview.js"></script>
    <script type="text/javascript" src="WebResources/Diff/app.js"></script>
</body>
</html>